<div class="container-alert">
  <%=image_tag "under_construction", alt:"under construction", class:"alert-img"%>
  <h1 Class="alert-txt">Working just fine on mobile mode though! ðŸ“±</h1>
</div>

<div class="container-principal">
  <div class="container-head">
    <%= link_to "https://api.whatsapp.com/send?phone=5511947959196&text=Hi Ricardo! I'd love to hire you! :)" do %>
      <%= image_tag "PHOTO_PROFILE_COLORS_edit.jpg", alt: 'a photo of Ricardo', class:"profile-photo"%>
    <% end %>


    <%= link_to "https://api.whatsapp.com/send?phone=5511947959196&text=Hi Ricardo! I'd love to hire you! :)" do %>
      <%= image_tag "icons8-whatsapp-500.png", alt: "whatsapp icon", class:"whatsapp-icon"%>
    <% end %>
    <h1 class="its-me" id="type"></h1>
  </div>

  <div class="form-like">
    <div class="form-text">
      <p class="form-label">name</p>
      <p>Ricardo Forte Pace_</p>
    </div>
  </div>

  <div class="form-like">
    <div class="form-text">
      <p class="form-label">expertise</p>
      <p>Designer and Web Developer_</p>
    </div>
  </div>

  <div class="form-like container-lateral">
    <div class="form-like-short">
      <div class="form-text">
      <p class="form-label">dob</p>
      <p>11/04/1983_</p>
    </div>
  </div>
  <div class="form-like">
    <div class="form-text">
      <p class="form-label">address</p>
      <p>Itu/SP, Brazil_</p>
    </div>
  </div>
  </div>

  <div class="form-like">
    <div class="form-text">
      <p class="form-label">about me</p>
      <p>I'm a highly creative, communicative, competent and driven professional.<br><br>Passionate about brilliant deliveries._</p>
    </div>
  </div>

  <div class="container-vertical">
    <h2 class="previous-work-text">Some of my previous work</h2>
    <%= link_to "Design Portfolio ðŸ–Œï¸", "http://www.coroflot.com/ricardofortepace/",  class:"text_port"%>
    <%= link_to "The Caramel Doggo ðŸ¶", "http://the-caramelo-dog.herokuapp.com/",  class:"text_port"%>
    <%= link_to "Swap It! ðŸŒ¿", "https://swap-it.me/",  class:"text_port"%>
  </div>

  <div class="container-image">
        <%=image_tag "square-check-solid-2.png", class:"image-pic-numb", alt:"check box"%>
      <p class="image-text-numb">Available to travel_</p>
  </div>

  <div class="container-image">
    <%=image_tag "square-check-solid-2.png", class:"image-pic-numb", alt:"check box"%>
    <p class="image-text-numb">Available to work in situ_</p>
  </div>

  <div class="container-image">
    <%=image_tag "square-check-solid-2.png", class:"image-pic-numb", alt:"check box"%>
    <p class="image-text-numb">Available to work remote_</p>
  </div>


  <div class="container-image">
    <%= image_tag "phone-solid.svg", alt: "telephone icon", class:"image-pic"%>
    <%= link_to "+55 11 94795-9196_", "tel:+5511947959196", class:"image-text"%>
  </div>

  <div class="container-image">
    <%= image_tag "envelope-solid.svg", alt: "email icon", class:"image-pic"%>
    <%= link_to "tatopace@hotmail.com", "mailto: tatopace@hotmail.com", class:"image-text"%>
  </div>

  <div class="container-image">
    <%= image_tag "icons8-baixar-96.png", alt: "cv download icon", class:"image-pic"%>
    <%= link_to "Download my Curriculum Vitae_",  asset_path("full_cv_letters_ricardo_pace_2022_EN.pdf"), download: "full_cv_letters_ricardo_pace_2022_EN.pdf", class:"image-text"%>
  </div>

  <div class="container-image">
    <%= image_tag "linkedin-brands.svg", alt: "linkedin icon", class:"image-pic"%>
    <%= link_to "Find me on LinkedIn_", "http://www.linkedin.com/in/ricardofortepace", class:"image-text"%>
  </div>

  <div class="container-image">
    <%= image_tag "github-brands.svg", alt: "github icon", class:"image-pic"%>
    <%= link_to "Find me on GitHub_", "http://www.github.com/ricardofortepace", class:"image-text"%>
  </div>

  <div class="container-image">
    <%= image_tag "instagram-square-brands.svg", alt: "instagram icon", class:"image-pic"%>
    <%= link_to "Find me on Instagram_", "https://www.instagram.com/ricardofortepace/", class:"image-text"%>
  </div>




</div>
