<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag 'style'%>
    <%= stylesheet_link_tag 'reset'%>
    <%#= stylesheet_link_tag 'bootstrap/scss/bootstrap'%>

    <%=favicon_link_tag 'icons8-mental-health-64.png' %>
    <title>Ricardo Pace</title>
    <meta name="description" content="Hi. I'm Ricardo, a brazilian graphic/industrial designer and web developer. How can I help ya?">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  </head>

  <body class="body-color">
    <%= yield %>
  </body>

</html>
