<!DOCTYPE html>

<html>

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1">

    <%= stylesheet_link_tag 'style'%>
    <%= stylesheet_link_tag 'reset'%>
    <%#= stylesheet_link_tag 'bootstrap/scss/bootstrap'%>

    <%=favicon_link_tag 'icons8-mental-health-64.png' %>
    <title>Ricardo Forte Pace</title>
    <meta name="description" content="Hallo. I'm Ricardo, a brazilian web developwer and graphic/industrial designer. I'm a highly creative, communicative,
      competent and driven professional.Passionate about brilliant deliveries, with comproved international experience in developing projects.
      I'm very respectful, honest, versatile, collaborative team player, project management, people management, commitment, lifelong learning, long-term thinking, strategic routine
      and determination. By the way, how can I help ya? :)">

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true %>

  </head>

  <body class="body-color">
    <%= yield %>
  </body>

</html>
